body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: #12181f;
    color: #ffffff;
  }
  
  @font-face {
    font-family: myf0nt;
    src: url(font.ttf);
  }

  h1 {
      text-align: center;
      font-weight: 700;
      font-size: 50px;
      font-family: myf0nt;
      color: #790707;
  }
  
  p {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
  }
  
  .actie {
      display: flex;
      justify-content: center;
  }
  
  .actie button {
      padding: 8px 16px;
      font-size: 30px;
      border-radius: 10px;
      background-color: #4b0b0b;
      color: rgb(0, 0, 0);
      border-color: #ffffff;
  }
  
  .grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(2, calc(140px / 2 * 3));
  }
  
  .card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
  }
  
  .front-image {
    width: 140px;
    height: 210px;
  }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front, .back {
      backface-visibility: hidden;
      position: absolute;
      border-radius: 10px;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
  }
  
  .card .front {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .back {
    background-image: url("assets/finger.jpg");
    background-size: contain;
    backface-visibility: hidden;
  }
  
  .card .front {
    transform: rotateY(180deg);
  }
